* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: Arial, sans-serif;}
header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}
header h1 {
    font-size: 20px;
    color:#F8F8FF;
}
.layout {
    display: flex;
    height:640px ;
}
.side-bar {
    width: 230px;
    padding: 10px;
    border-right: 3px solid #2F4F4F;
    background-color:#252525;
}
.side-bar h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: white;
}
.your-bs {
    list-style: none;
    font-size: 11px;
    color: #FFFAF0;
}
.your-bs li {
    padding: 6px 0;
    cursor: pointer;
    padding-left: 20px;
}
.search-sb {
    width: 100%;
    padding: 6px;
    background-color: #2b2b2b;
    border: none;
    color: #fff;
    border-radius: 6px;
    margin-bottom: 10px;
}
main {
    flex: 1;
    padding: 20px;
}
main p {
    font-size: 14px;
    text-align: left;
}
.example{
    border-bottom:3px solid #2F4F4F;
    margin-bottom:5px;
    padding-left:20px;
    padding-bottom:8px;
}
.example a {
    color : white;
    text-decoration: none;
}
